<div class="card">
  <div class="card-image">
    <img src="http://lorempixel.com/1000/400/food/">
    <span class="card-title">Card Title</span>
  </div>
  <div class="card-content">
    <p>Short decription of the meal.</p>
    <p class="right" style="margin-top:-7px;">
      <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
      <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">feedback</i></a>
    </p>
  </div>
    
</div>